$white: #ffffff;

$black: #000000;

$boxShadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
  0px 6px 24px rgba(0, 0, 0, 0.05);

$boxShadowSecondary: 0px 30px 60px -30px rgba(0, 0, 0, 0.3),
  0px 50px 100px -20px rgba(50, 50, 93, 0.25),
  inset 0px 1px 1px rgba(255, 255, 255, 0.1);

$bluee: #09368b;

$darkBlue: #014a7d;

$textColor: #8c8c8c;
