@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import "./colors";
@import "./mixins";
@import "./top";
@import "./definitions";
@import "./stakeholders_about";
@import "./footer";
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.site {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem;
  color: $bluee;

  @include tablet-upwards {
    text-align: right;
    padding-right: 2rem;
  }
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;

  @include tablet-upwards {
    font-size: 1.25rem;
  }
}

section {
  padding: 0.5rem 1rem;

  @include tablet-upwards {
    padding: 0.5rem 2rem;
  }
}

.icon {
  color: $darkBlue;
  margin-right: 0.25rem;
}

img,
video {
  width: 100%;
}

.header {
  font-size: 1.25rem;
  font-weight: 600;
  color: $bluee;
  text-align: center;

  @include tablet-upwards {
    text-align: left;
    font-size: 1.375rem;
  }
}
